@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
#nav-input{
    outline: none;

}

#nav-input:focus{
    outline: red;
    background-color: gray;
border: 0;

}