@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
#nav-input{
    outline: none;

}

#nav-input:focus{
    outline: red;
    background-color: gray;
border: 0;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }